body {
  background-color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  background-color: #dedcdc;
  padding: 25px 40px;
}

.navigasi ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.gambar {
  width: 200px;
  height: auto;
}
