body {
  background-color: #9ca6e7;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(139, 220, 243, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) /* Safari support */;
  padding: 10px 20px;
  border-radius: 20px;
  justify-content: center;
}

.navigasi ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navigasi ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: o.5px;
  transition: color 0.5s ease;
}

.navigasi ul li a:hover {
  color: #fafafa;
}

.gambar {
  width: 200px;
  height: auto;
}

.atas h1 {
  font-size: 36px;
  color: #333333;
  text-align: center;
}
