body {
  background-color: #9ca6e7;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgba(139, 220, 243, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) /* Safari support */;
  padding: 10px 20px;
  border-radius: 80px;
  justify-content: center;
}

.navigasi ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navigasi ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: o.5px;
  transition: color 0.5s ease;
}

.navigasi ul li a:hover {
  color: #fafafa;
}

.atas img {
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
}

.atas h1 {
  font-size: 36px;
  color: #333333;
  text-align: center;
}

.tengah {
  margin-top: 20px;
  margin-bottom: 50px;
}
.tengah p {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  gap: 9px;
  margin-right: 150px;
}

.item img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 80px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(139, 220, 243, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px) /* Safari support */;
  border-radius: 20px;
}
